<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=countries.title%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/countries">Countries Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Countries Attributes:</h2>
      <form action="/countries/<%=countries._id%>?_method=PUT" method="post">
        <input
          type="text"
          name="Country"
          value="<%=countries.Country%>"
        /><br />
        <input type="text" name="City" value="<%=countries.City%>" /><br />
        <input type="text" name="Date" value="<%=countries.Date%>" /><br />
        Additional Travel Buddies: <br />
        <select>
          <% for(let i = 0; i < users.length; i++){ %>
          <option value="<%=users[i]._id%>">
            <%=users[i].Name%>
          </option>
          <% } %> </select
        ><br /><br />
        Memories to record: <br /><textarea
          name="memories"
          value="Memories/Notes!"
        ></textarea
        ><br /><br />
        <input type="submit" value="Update Travel Record" />
      </form>

      <section>
        <form
          action="/countries/<%=countries._id%>?_method=DELETE"
          method="post"
        >
          <input type="submit" value="Delete Travel Memory" />
        </form>
      </section>
    </main>
  </body>
</html>
