<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=countries.Country%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/countries">Travel Record</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        You travelled to <%=countries.City%>, <%=countries.Country%> on
        <%=countries.Date%>
      </section>
    </main>

    <section>
      <a href="/countries/<%=countries._id%>/edit">Edit</a>
    </section>
  </body>
</html>
